*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: white;
  color: #2B2C2E;
  font-family: "Quattrocento", serif; }

.nav {
  margin-right: 10px;
  right: 40px; }
  @media screen and (max-width: 500px) {
    .nav {
      margin-right: 30px; } }
  .nav li {
    list-style: none;
    display: inline; }
  .nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media screen and (max-width: 500px) {
      .nav ul {
        justify-content: center;
        font-size: 1.5em; } }
    @media screen and (max-width: 900px) {
      .nav ul {
        justify-content: center;
        font-size: 1.2em; } }
  .nav a {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1em;
    vertical-align: baseline;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0.08em 0.44em;
    margin: 0 auto 0; }
  .nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0;
    left: auto;
    right: 0.44em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    -webkit-transition: width 250ms ease-out;
    -moz-transition: width 250ms ease-out;
    -o-transition: width 250ms ease-out;
    transition: width 250ms ease-out; }
  .nav a:hover::after {
    width: -webkit-calc(100% - 0.44em * 2);
    width: calc(100% - 0.44em * 2);
    left: 0.44em;
    right: auto; }

#about, #contact, #projects {
  color: #2B2C2E;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0; }

.images {
  float: left; }
  .images img {
    width: 300px;
    margin-right: 50px; }
    @media screen and (max-width: 900px) {
      .images img {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 500px; } }
    @media screen and (max-width: 500px) {
      .images img {
        width: 100%;
        margin-left: 0; } }
  @media screen and (max-width: 900px) {
    .images {
      float: none; } }

.header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  text-align: center; }

.sub-header {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2em; }

.tech-used {
  border: solid;
  width: 70%; }
  .tech-used h3 {
    font-family: "Open Sans Condensed", sans-serif; }

.detail {
  font-size: 1.2em;
  font-family: "Open Sans Condensed", sans-serif; }

.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  display: table; }
  .content .header .images {
    display: table-cell;
    vertical-align: middle;
    width: 50%; }

.images2 {
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  @media screen and (max-width: 900px) {
    .images2 {
      display: flex;
      flex-wrap: wrap; } }
  .images2 img {
    margin: 2%; }

.images3 {
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  @media screen and (max-width: 500px) {
    .images3 {
      display: none; } }

.es-images {
  margin: 100px; }
  .es-images h3 {
    font-family: "Open Sans Condensed", sans-serif; }
  .es-images .screensize {
    margin: 20px; }
    @media screen and (max-width: 900px) {
      .es-images .screensize {
        display: none; } }

.button2, .button3 {
  margin-bottom: 20px;
  background-color: #FDEE48;
  border: none;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px; }
  .button2 a, .button3 a {
    text-decoration: none;
    color: black;
    font-family: "Quattrocento", serif; }

.button2:hover, .button3:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); }

.button3 {
  background-color: #84BC96; }

/*# sourceMappingURL=styles2.css.map */
