body {
  margin: 0;
  background-color: white;
  color: #2B2C2E;
  font-family: "Quattrocento", serif; }

.nav li {
  list-style: none;
  display: inline; }
.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
.nav a {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  position: relative; }

#about, #contact, #projects {
  color: #2B2C2E;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 30px; }

.hero {
  background-image: url(../img/mountains.jpeg);
  background-image: no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero .border {
    padding: 5px;
    border: solid;
    border-color: #FFFFFF;
    opacity: 0.65; }
  .hero .name {
    opacity: 0.65;
    background: #FFFFFF;
    padding: 20px; }
    .hero .name h1 {
      font-family: "Raleway", sans-serif;
      color: black; }
    .hero .name h3 {
      font-family: "Open Sans Condensed", sans-serif; }

.nav2 {
  padding-right: 40px; }
  .nav2 #nav-dec {
    color: #2B2C2E;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif; }
  .nav2 li {
    list-style: none;
    display: inline; }
  .nav2 ul {
    display: flex;
    justify-content: center;
    align-items: center; }
  .nav2 a {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1em;
    vertical-align: baseline;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0.08em 0.44em;
    margin: 5em auto 0; }
  .nav2 a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0;
    left: auto;
    right: 0.44em;
    top: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    -webkit-transition: width 250ms ease-out;
    -moz-transition: width 250ms ease-out;
    -o-transition: width 250ms ease-out;
    transition: width 250ms ease-out; }
  .nav2 a:hover::after {
    width: -webkit-calc(100% - 0.44em * 2);
    width: calc(100% - 0.44em * 2);
    left: 0.44em;
    right: auto; }

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%; }
  .projects a {
    color: black;
    text-decoration: none; }

.p {
  width: 250px;
  height: 250px;
  margin: 10px;
  background: #D8D8D8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out; }
  .p h1 {
    font-family: "Raleway", sans-serif;
    visibility: hidden;
    position: relative;
    top: 75px;
    display: flex;
    justify-content: center;
    text-align: center; }

.p1 {
  background-image: url(../img/wfdesign.png);
  background-image: no-repeat;
  background-size: cover; }

.p:hover {
  transform: scale(1.05);
  background: white; }
  .p:hover h1 {
    visibility: visible; }

/*# sourceMappingURL=styles.css.map */
