body {
  margin: 0;
  background-color: white;
  color: #2B2C2E;
  font-family: "Quattrocento", serif; }

.nav {
  margin-right: 10px;
  right: 40px; }
  @media screen and (max-width: 480px) {
    .nav {
      margin-right: 30px;
      margin-top: 0; } }
  .nav li {
    list-style: none;
    display: inline; }
  .nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media screen and (max-width: 480px) {
      .nav ul {
        justify-content: center;
        font-size: 1.5em; } }
  .nav a {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1em;
    vertical-align: baseline;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0.08em 0.44em;
    margin: 0 auto 0; }
  .nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0;
    left: auto;
    right: 0.44em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    -webkit-transition: width 250ms ease-out;
    -moz-transition: width 250ms ease-out;
    -o-transition: width 250ms ease-out;
    transition: width 250ms ease-out; }
  .nav a:hover::after {
    width: -webkit-calc(100% - 0.44em * 2);
    width: calc(100% - 0.44em * 2);
    left: 0.44em;
    right: auto; }
  .nav a:active {
    color: yellow; }

#about, #contact, #projects {
  color: #2B2C2E;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif; }

.about {
  margin: 0 20% 0 20%;
  text-align: center; }
  .about img {
    width: 100%; }
    @media screen and (max-width: 900px) {
      .about img {
        width: 600px; } }
    @media screen and (max-width: 480px) {
      .about img {
        width: 400px;
        padding-right: 10px;
        display: flex;
        justify-content: center; } }
  .about h1 {
    font-family: "Work Sans", sans-serif; }
  .about h3 {
    font-family: "Open Sans Condensed", sans-serif; }
  .about h4 {
    font-family: "Quattrocento", serif;
    font-size: 1.3em; }
    @media screen and (max-width: 480px) {
      .about h4 {
        font-size: .8em; } }
    @media screen and (max-width: 900px) {
      .about h4 {
        font-size: 1.2em; } }

.contact {
  border: 0;
  padding: 0;
  width: 100%; }
  .contact .contact-left {
    border: 0;
    margin: 0;
    padding: 0;
    float: left;
    width: 50%; }
    .contact .contact-left h1 {
      font-size: 3em;
      float: right;
      padding-right: 10%;
      padding-top: 50%;
      padding-left: 10%;
      font-family: "Open Sans Condensed", sans-serif; }
    .contact .contact-left img {
      width: 100px;
      position: absolute;
      top: 50%;
      left: 30%; }
  .contact .contact-right {
    border: 0;
    margin: 0;
    padding: 0;
    float: right;
    width: 50%;
    background-color: #C4B7E4;
    height: 100vh; }
    .contact .contact-right h3 {
      display: flex;
      justify-content: center;
      padding-top: 55%;
      font-family: "Quattrocento", serif; }
      @media screen and (max-width: 480px) {
        .contact .contact-right h3 {
          font-size: 1em; } }
    .contact .contact-right .social-links {
      display: flex;
      justify-content: center; }
  .contact #li, .contact #gh {
    padding: 20px; }

/*# sourceMappingURL=styles3.css.map */
