$nav-font: 'Open Sans Condensed', sans-serif;
$head-font:  'Work Sans', sans-serif;
$text-font: 'Quattrocento', serif;

// // font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Quattrocento', serif;
// font-family: 'Work Sans', sans-serif;
// font-family: 'Oxygen', sans-serif;
// font-family: 'Poppins', sans-serif;
body{
  margin:0;
  // margin:20px;
  background-color: white;
  color:#2B2C2E;
  font-family: $text-font;
}
.nav{
  li{
    list-style: none;
    display:inline;
  }
  ul{
    display:flex;
    justify-content:flex-end;
    align-items:center;

  }
  a {
      background: transparent;
      border: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      font-size: 1em;
      vertical-align: baseline;
      position: relative;
      display: inline-block;
      text-decoration: none;
      padding: 0.08em 0.44em;
      margin: 0 auto 0;
  }
  a::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 0;
      left: auto;
      right: 0.44em;

      border-bottom-style: solid;
      border-bottom-width: 1px;
      -webkit-transition: width 250ms ease-out;
         -moz-transition: width 250ms ease-out;
           -o-transition: width 250ms ease-out;
              transition: width 250ms ease-out;
  }
  a:hover::after {
      width: -webkit-calc(100% - 0.44em * 2);
      width:         calc(100% - 0.44em * 2);
      left: 0.44em;
      right: auto;
  }

}

#about, #contact, #projects{
  color:#2B2C2E;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $nav-font;

}


.hero{
  // background-image: url(../img/trees.jpeg);
  // background-image: no-repeat;
  // background-size: cover;
  height: 75vh;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  .border{
    padding: 5px;
    border: solid;
    border-color: white;
    opacity: 0.8;
    z-index: 5;
  }
  .name{
    background:white;
    // opacity: 0.65;
    // background: #FFFFFF;
    padding:20px;
    // border: solid;
    h1{
      font-family: $head-font;
      color:black;
      font-size: 3em;
    }
    h3{
      font-family: $nav-font;
      font-size:2em;
    }
  }
}

.nav2{
  // margin:50px;
  padding-right:40px;

  #nav-dec{
    color:#2B2C2E;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $nav-font;

  }

  li{
    list-style: none;
    display:inline;
  }
  ul{
    display:flex;
    justify-content:center;
    align-items:center;

  }
  a {
      background: transparent;
      border: 0;
      cursor: pointer;
      font-size: 1em;
      vertical-align: baseline;
      position: relative;
    	display: inline-block;
    	text-decoration: none;
    	padding: 0.08em 0.44em;
    	margin: 5em auto 0;
  }
  a::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 0;
      left: auto;
      right: 0.44em;
      top: 100%;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      -webkit-transition: width 250ms ease-out;
         -moz-transition: width 250ms ease-out;
           -o-transition: width 250ms ease-out;
              transition: width 250ms ease-out;
  }
  a:hover::after {
      width: -webkit-calc(100% - 0.44em * 2);
      width:         calc(100% - 0.44em * 2);
      left: 0.44em;
      right: auto;
  }

}


.projects{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  padding-left:5%;
  padding-right:5%;
  a{
    color:black;
    text-decoration: none;
  }

}
.p{
  width:250px;
  height:250px;
  margin: 10px;
  background: #D8D8D8;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  transition: all .3s ease-in-out;
  h1{
    font-family: $nav-font;
    visibility:hidden;
    position:relative;
    top:75px;
    display:flex;
    justify-content:center;
    text-align: center;
  }
}
.p1{
  background-image: url(../img/wfdesign.png);
  background-image: no-repeat;
  background-size: cover;
}
.p2{
  background-image: url(../img/esperanza.png);
  background-image: no-repeat;
  background-size: cover;
}
.p3{
  background-image: url(../img/pnwss.png);
  background-image: no-repeat;
  background-size: cover;
}


.p:hover{
  transform: scale(1.05);
  background:white;
  h1{
    visibility:visible;
  }
}

//twinkling stars//




@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height: 75vh;
  display:block;
  margin-top:60px;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
