$nav-font: 'Open Sans Condensed', sans-serif;
$head-font:  'Raleway', sans-serif;

// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Quattrocento', serif;

body{
  margin:0;
  // margin:20px;
  background-color: white;
  color:#2B2C2E;


}

li{
  list-style: none;
  display:inline;
}
ul{
  display:flex;
  justify-content:flex-end;
  align-items:center;

}
a {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1em;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#about, #contact{
  color:#2B2C2E;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $nav-font;
  padding:30px;

}

.hero{
  background-image: url(../img/mountains.jpeg);
  background-image: no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  .name{
    padding:20px;
    border: solid;
    h1{
      font-family: $head-font;
    }
    h3{
      font-family: $nav-font;
    }
  }
}
